<footer class="pt-4 my-md-0 pt-md-5 border-top bg-light px-4">
  <div class="row">
    <div class="col-12 col-md">
      <h4 class='px-4'><a href="{% url 'homeview' %}"> Konsize</a></h4>
        
    </div>
    <div class="col-6 col-md">
      <h5>Contact Us</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Email</a></li>
        <li><a class="text-muted" href="#">09075754477</a></li>
        <li><a class="text-muted" href="#">Place Advert</a></li>
    </div>
    <div class="col-6 col-md">
      <h5>Socials</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="facebook.com/konsize"><i class='fab fa-facebook'></i></a> Facebook</li>
        <li><a class="text-muted" href="#"><i class='fab fa-twitter'></i></a> Twitter</li>
        <li><a class="text-muted" href="#"><i class='fab fa-instagram'></i></a> Instagram</li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="">Team</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>
</div>
