{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %} ">
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initiall-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/fontawesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/fontawesome.min.css' %}">
    

<scripts src='{% static "js/bootstrap.js" %}'>
<scripts src='{% static "js/jquery.js" %}'>
<scripts src='{% static "js/popper.min.js" %}'>